finwealthanalyticsadf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "finwealthanalyticsadf"
		},
		"LS_BlobStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_BlobStorage'"
		},
		"LS_StagingSQL_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_StagingSQL'"
		},
		"LS_StagingSQL_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "finwealth-sql-server.database.windows.net"
		},
		"LS_StagingSQL_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "FinWealthDW"
		},
		"LS_StagingSQL_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminuser"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_Copy_CSV_To_Staging_To_DWH')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Accounts",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE stg_accounts",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_CSV_Accounts",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_Stg_Accounts",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Advisor",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE stg_advisors",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_CSV_Advisor",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_Stg_Advisor",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Cashflow",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE stg_cashflows",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_CSV_Cashflow",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_Stg_Cashflows",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Benchmark",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE stg_benchmarks",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_CSV_Benchmark",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_Stg_Benchmarks",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Clients",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE stg_clients",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_CSV_Clients",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_Stg_Clients",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Performance",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE stg_performance",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_CSV_Performance",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_Stg_Performance",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Holdings",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE stg_holdings",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_CSV_Holdings",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_Stg_Holdings",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Prices",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE stg_prices",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_CSV_Prices",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_Stg_Prices",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Security",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE stg_securities",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_CSV_Securities",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_Stg_Securities",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Trades",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE stg_trades",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_CSV_Trades",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_Stg_Trades",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Fees",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE stg_fees",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_CSV_Fees",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_Stg_Fees",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SP_Dim_Advisor",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_load_dim_advisor]"
						},
						"linkedServiceName": {
							"referenceName": "LS_StagingSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_Dim_Account",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_load_dim_account]"
						},
						"linkedServiceName": {
							"referenceName": "LS_StagingSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_Fact_Cashflows",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Wait2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_load_fact_cashflows]"
						},
						"linkedServiceName": {
							"referenceName": "LS_StagingSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_Dim_Client",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_load_dim_client]"
						},
						"linkedServiceName": {
							"referenceName": "LS_StagingSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_Dim_Benchmark",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_load_dim_benchmark]"
						},
						"linkedServiceName": {
							"referenceName": "LS_StagingSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_Fact_Performance",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Wait2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_load_fact_performance]"
						},
						"linkedServiceName": {
							"referenceName": "LS_StagingSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_Fact_Holdings",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Wait2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_load_fact_holdings]"
						},
						"linkedServiceName": {
							"referenceName": "LS_StagingSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_Dim_Security",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_load_dim_security]"
						},
						"linkedServiceName": {
							"referenceName": "LS_StagingSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_Fact_Trades",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Wait2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_load_fact_trades]"
						},
						"linkedServiceName": {
							"referenceName": "LS_StagingSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_Fact_Fees",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Wait2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_load_fact_fees]"
						},
						"linkedServiceName": {
							"referenceName": "LS_StagingSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Copy Accounts",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy Advisor",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy Cashflow",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy Benchmark",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy Clients",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy Performance",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy Holdings",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy Prices",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy Security",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy Trades",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy Fees",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "Wait2",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "SP_Dim_Benchmark",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SP_Dim_Client",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SP_Dim_Security",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SP_Dim_Advisor",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SP_Dim_Account",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-23T16:15:28Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_CSV_Accounts')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Stg_Accounts')]",
				"[concat(variables('factoryId'), '/datasets/DS_CSV_Advisor')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Stg_Advisor')]",
				"[concat(variables('factoryId'), '/datasets/DS_CSV_Cashflow')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Stg_Cashflows')]",
				"[concat(variables('factoryId'), '/datasets/DS_CSV_Benchmark')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Stg_Benchmarks')]",
				"[concat(variables('factoryId'), '/datasets/DS_CSV_Clients')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Stg_Clients')]",
				"[concat(variables('factoryId'), '/datasets/DS_CSV_Performance')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Stg_Performance')]",
				"[concat(variables('factoryId'), '/datasets/DS_CSV_Holdings')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Stg_Holdings')]",
				"[concat(variables('factoryId'), '/datasets/DS_CSV_Prices')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Stg_Prices')]",
				"[concat(variables('factoryId'), '/datasets/DS_CSV_Securities')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Stg_Securities')]",
				"[concat(variables('factoryId'), '/datasets/DS_CSV_Trades')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Stg_Trades')]",
				"[concat(variables('factoryId'), '/datasets/DS_CSV_Fees')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Stg_Fees')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_StagingSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Master')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_Copy_CSV_To_Staging_To_DWH",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Copy_CSV_To_Staging_To_DWH",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_Validation",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_Copy_CSV_To_Staging_To_DWH",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Validate_Staging",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-23T16:15:30Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_Copy_CSV_To_Staging_To_DWH')]",
				"[concat(variables('factoryId'), '/pipelines/PL_Validate_Staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Validate_Staging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SP_Validate_Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_validate_staging]"
						},
						"linkedServiceName": {
							"referenceName": "LS_StagingSQL",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-23T12:28:28Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_StagingSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_Accounts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSVs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Accounts.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "AccountID",
						"type": "String"
					},
					{
						"name": "ClientID",
						"type": "String"
					},
					{
						"name": "AccountType",
						"type": "String"
					},
					{
						"name": "OpenDate",
						"type": "String"
					},
					{
						"name": "BaseCurrency",
						"type": "String"
					},
					{
						"name": "Status",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_Advisor')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSVs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Advisors.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "AdvisorID",
						"type": "String"
					},
					{
						"name": "AdvisorName",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "JoinDate",
						"type": "String"
					},
					{
						"name": "ExperienceYears",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_Benchmark')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSVs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Benchmarks.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "BenchmarkCode",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					},
					{
						"name": "Currency",
						"type": "String"
					},
					{
						"name": "IndexValueDate",
						"type": "String"
					},
					{
						"name": "IndexValue",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_Cashflow')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSVs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Cashflows.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CashflowID",
						"type": "String"
					},
					{
						"name": "AccountID",
						"type": "String"
					},
					{
						"name": "CashflowDate",
						"type": "String"
					},
					{
						"name": "Type",
						"type": "String"
					},
					{
						"name": "Amount",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_Clients')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSVs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Clients.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ClientID",
						"type": "String"
					},
					{
						"name": "ClientName",
						"type": "String"
					},
					{
						"name": "Segment",
						"type": "String"
					},
					{
						"name": "RiskProfile",
						"type": "String"
					},
					{
						"name": "PrimaryAdvisorID",
						"type": "String"
					},
					{
						"name": "ClientSince",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_Fees')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSVs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Fees.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "FeeID",
						"type": "String"
					},
					{
						"name": "AccountID",
						"type": "String"
					},
					{
						"name": "FeeDate",
						"type": "String"
					},
					{
						"name": "FeeType",
						"type": "String"
					},
					{
						"name": "Amount",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_Holdings')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSVs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Holdings.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "AccountID",
						"type": "String"
					},
					{
						"name": "SecurityID",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "ValuationDate",
						"type": "String"
					},
					{
						"name": "MarketValue",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_Performance')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSVs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Performance.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "AccountID",
						"type": "String"
					},
					{
						"name": "MonthStart",
						"type": "String"
					},
					{
						"name": "ReturnPct",
						"type": "String"
					},
					{
						"name": "BenchmarkCode",
						"type": "String"
					},
					{
						"name": "BenchmarkReturnPct",
						"type": "String"
					},
					{
						"name": "ExcessReturnPct",
						"type": "String"
					},
					{
						"name": "CumulativeReturnPct",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_Prices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSVs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Prices.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SecurityID",
						"type": "String"
					},
					{
						"name": "PriceDate",
						"type": "String"
					},
					{
						"name": "ClosePrice",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_Securities')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSVs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Securities.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SecurityID",
						"type": "String"
					},
					{
						"name": "Ticker",
						"type": "String"
					},
					{
						"name": "SecurityName",
						"type": "String"
					},
					{
						"name": "AssetClass",
						"type": "String"
					},
					{
						"name": "Sector",
						"type": "String"
					},
					{
						"name": "Currency",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_Trades')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSVs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Trades.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "TradeID",
						"type": "String"
					},
					{
						"name": "AccountID",
						"type": "String"
					},
					{
						"name": "SecurityID",
						"type": "String"
					},
					{
						"name": "TradeDate",
						"type": "String"
					},
					{
						"name": "SettleDate",
						"type": "String"
					},
					{
						"name": "Side",
						"type": "String"
					},
					{
						"name": "Price",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "Amount",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DWH_Dim_Advisor')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_StagingSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DHW"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "advisor_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "advisor_id",
						"type": "varchar"
					},
					{
						"name": "advisor_name",
						"type": "varchar"
					},
					{
						"name": "region",
						"type": "varchar"
					},
					{
						"name": "join_date",
						"type": "date"
					},
					{
						"name": "experience_years",
						"type": "int",
						"precision": 10
					},
					{
						"name": "is_current",
						"type": "bit"
					},
					{
						"name": "dwh_created_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "dwh_updated_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ExperienceBand",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Dim_Advisor"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_StagingSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Dim_Accounts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_StagingSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DHW"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "account_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "account_id",
						"type": "varchar"
					},
					{
						"name": "client_id",
						"type": "varchar"
					},
					{
						"name": "account_type",
						"type": "varchar"
					},
					{
						"name": "open_date",
						"type": "date"
					},
					{
						"name": "base_currency",
						"type": "varchar"
					},
					{
						"name": "status",
						"type": "varchar"
					},
					{
						"name": "is_current",
						"type": "bit"
					},
					{
						"name": "dwh_created_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "dwh_updated_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CurrencyGroup",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Dim_Account"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_StagingSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Dim_Date')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_StagingSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DHW"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "date_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "full_date",
						"type": "date"
					},
					{
						"name": "day_of_week",
						"type": "varchar"
					},
					{
						"name": "day_num",
						"type": "int",
						"precision": 10
					},
					{
						"name": "week_num",
						"type": "int",
						"precision": 10
					},
					{
						"name": "month_num",
						"type": "int",
						"precision": 10
					},
					{
						"name": "month_name",
						"type": "varchar"
					},
					{
						"name": "quarter_num",
						"type": "int",
						"precision": 10
					},
					{
						"name": "quarter_name",
						"type": "varchar"
					},
					{
						"name": "year_num",
						"type": "int",
						"precision": 10
					},
					{
						"name": "is_weekday",
						"type": "bit"
					},
					{
						"name": "is_month_end",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "dim_date"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_StagingSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Dim_Security')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_StagingSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DHW"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "security_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "security_id",
						"type": "varchar"
					},
					{
						"name": "ticker",
						"type": "varchar"
					},
					{
						"name": "security_name",
						"type": "varchar"
					},
					{
						"name": "asset_class",
						"type": "varchar"
					},
					{
						"name": "sector",
						"type": "varchar"
					},
					{
						"name": "currency",
						"type": "varchar"
					},
					{
						"name": "region",
						"type": "varchar"
					},
					{
						"name": "is_current",
						"type": "bit"
					},
					{
						"name": "dwh_created_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "dwh_updated_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "AssetClassGroup",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Dim_Security"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_StagingSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Fact_Trades')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_StagingSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DHW"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "trade_sk",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "trade_id",
						"type": "varchar"
					},
					{
						"name": "account_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "security_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "trade_date_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "settle_date_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "side",
						"type": "varchar"
					},
					{
						"name": "price",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "quantity",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "trade_amount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "gross_amount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "dwh_load_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "batch_id",
						"type": "varchar"
					},
					{
						"name": "TradeCategory",
						"type": "nvarchar"
					},
					{
						"name": "TradeSize",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Fact_Trades"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_StagingSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Stg_Accounts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_StagingSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Staging"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "account_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "account_id",
						"type": "varchar"
					},
					{
						"name": "client_id",
						"type": "varchar"
					},
					{
						"name": "account_type",
						"type": "varchar"
					},
					{
						"name": "open_date",
						"type": "date"
					},
					{
						"name": "base_currency",
						"type": "varchar"
					},
					{
						"name": "status",
						"type": "varchar"
					},
					{
						"name": "is_current",
						"type": "bit"
					},
					{
						"name": "dwh_created_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "dwh_updated_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_accounts"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_StagingSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Stg_Advisor')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_StagingSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Staging"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "advisor_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "advisor_id",
						"type": "varchar"
					},
					{
						"name": "advisor_name",
						"type": "varchar"
					},
					{
						"name": "region",
						"type": "varchar"
					},
					{
						"name": "join_date",
						"type": "date"
					},
					{
						"name": "experience_years",
						"type": "int",
						"precision": 10
					},
					{
						"name": "is_current",
						"type": "bit"
					},
					{
						"name": "dwh_created_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "dwh_updated_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_advisors"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_StagingSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Stg_Benchmarks')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_StagingSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Staging"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "benchmark_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "benchmark_code",
						"type": "varchar"
					},
					{
						"name": "description",
						"type": "varchar"
					},
					{
						"name": "currency",
						"type": "varchar"
					},
					{
						"name": "dwh_created_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_benchmarks"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_StagingSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Stg_Cashflows')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_StagingSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Staging"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "cashflow_sk",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "cashflow_id",
						"type": "varchar"
					},
					{
						"name": "account_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cashflow_date_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cashflow_type",
						"type": "varchar"
					},
					{
						"name": "amount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "dwh_load_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "batch_id",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_cashflows"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_StagingSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Stg_Clients')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_StagingSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Staging"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "client_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "client_id",
						"type": "varchar"
					},
					{
						"name": "client_name",
						"type": "varchar"
					},
					{
						"name": "segment",
						"type": "varchar"
					},
					{
						"name": "risk_profile",
						"type": "varchar"
					},
					{
						"name": "country",
						"type": "varchar"
					},
					{
						"name": "client_since",
						"type": "date"
					},
					{
						"name": "advisor_id",
						"type": "varchar"
					},
					{
						"name": "is_current",
						"type": "bit"
					},
					{
						"name": "dwh_created_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "dwh_updated_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_clients"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_StagingSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Stg_Fees')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_StagingSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Staging"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "fee_sk",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "fee_id",
						"type": "varchar"
					},
					{
						"name": "account_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fee_date_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fee_type",
						"type": "varchar"
					},
					{
						"name": "fee_amount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "dwh_load_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "batch_id",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_fees"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_StagingSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Stg_Holdings')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_StagingSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Staging"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "holding_sk",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "account_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "security_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "valuation_date_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "quantity",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "close_price",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "market_value",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "dwh_load_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "batch_id",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_holdings"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_StagingSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Stg_Performance')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_StagingSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Staging"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "performance_sk",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "account_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "benchmark_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "month_start_date_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "return_pct",
						"type": "decimal",
						"precision": 10,
						"scale": 6
					},
					{
						"name": "benchmark_return_pct",
						"type": "decimal",
						"precision": 10,
						"scale": 6
					},
					{
						"name": "excess_return_pct",
						"type": "decimal",
						"precision": 10,
						"scale": 6
					},
					{
						"name": "cumulative_return_pct",
						"type": "decimal",
						"precision": 10,
						"scale": 6
					},
					{
						"name": "dwh_load_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "batch_id",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_performance"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_StagingSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Stg_Prices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_StagingSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Staging"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SecurityID",
						"type": "varchar"
					},
					{
						"name": "PriceDate",
						"type": "date"
					},
					{
						"name": "ClosePrice",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "stg_load_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "stg_source_file",
						"type": "varchar"
					},
					{
						"name": "stg_batch_id",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_prices"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_StagingSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Stg_Securities')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_StagingSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Staging"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SecurityID",
						"type": "varchar"
					},
					{
						"name": "Ticker",
						"type": "varchar"
					},
					{
						"name": "SecurityName",
						"type": "varchar"
					},
					{
						"name": "AssetClass",
						"type": "varchar"
					},
					{
						"name": "Sector",
						"type": "varchar"
					},
					{
						"name": "Currency",
						"type": "varchar"
					},
					{
						"name": "Region",
						"type": "varchar"
					},
					{
						"name": "stg_load_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "stg_source_file",
						"type": "varchar"
					},
					{
						"name": "stg_batch_id",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_securities"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_StagingSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Stg_Trades')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_StagingSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Staging"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "TradeID",
						"type": "varchar"
					},
					{
						"name": "AccountID",
						"type": "varchar"
					},
					{
						"name": "SecurityID",
						"type": "varchar"
					},
					{
						"name": "TradeDate",
						"type": "date"
					},
					{
						"name": "SettleDate",
						"type": "date"
					},
					{
						"name": "Side",
						"type": "varchar"
					},
					{
						"name": "Price",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "Quantity",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "Amount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "stg_load_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "stg_source_file",
						"type": "varchar"
					},
					{
						"name": "stg_batch_id",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_trades"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_StagingSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_BlobStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_BlobStorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_StagingSQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_StagingSQL_properties_typeProperties_server')]",
					"database": "[parameters('LS_StagingSQL_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_StagingSQL_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_StagingSQL_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Load_Dim_Advisor')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_SQL_Stg_Advisor",
								"type": "DatasetReference"
							},
							"name": "SourceAdvisor"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_DWH_Dim_Advisor",
								"type": "DatasetReference"
							},
							"name": "SinkDimAdvisor"
						}
					],
					"transformations": [
						{
							"name": "ExperienceBand"
						}
					],
					"scriptLines": [
						"source(output(",
						"          advisor_sk as integer,",
						"          advisor_id as string,",
						"          advisor_name as string,",
						"          region as string,",
						"          join_date as date,",
						"          experience_years as integer,",
						"          is_current as boolean,",
						"          dwh_created_date as timestamp,",
						"          dwh_updated_date as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SourceAdvisor",
						"SourceAdvisor derive(ExperienceBand = case(   toInteger(experience_years) >= 15, 'Senior',   toInteger(experience_years) >= 8, 'Mid-Level',   toInteger(experience_years) >= 3, 'Junior',   'Trainee' )) ~> ExperienceBand",
						"ExperienceBand sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          advisor_sk as integer,",
						"          advisor_id as string,",
						"          advisor_name as string,",
						"          region as string,",
						"          join_date as date,",
						"          experience_years as integer,",
						"          is_current as boolean,",
						"          dwh_created_date as timestamp,",
						"          dwh_updated_date as timestamp,",
						"          ExperienceBand as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     preSQLs:['TRUNCATE TABLE Dim_Advisor'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          advisor_sk,",
						"          advisor_id,",
						"          advisor_name,",
						"          region,",
						"          join_date,",
						"          experience_years,",
						"          is_current,",
						"          dwh_created_date,",
						"          dwh_updated_date,",
						"          ExperienceBand",
						"     )) ~> SinkDimAdvisor"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Stg_Advisor')]",
				"[concat(variables('factoryId'), '/datasets/DS_DWH_Dim_Advisor')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Load_Fact_Trades')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_SQL_Stg_Trades",
								"type": "DatasetReference"
							},
							"name": "SourceTrades"
						},
						{
							"dataset": {
								"referenceName": "DS_Dim_Accounts",
								"type": "DatasetReference"
							},
							"name": "sourceAccount"
						},
						{
							"dataset": {
								"referenceName": "DS_Dim_Security",
								"type": "DatasetReference"
							},
							"name": "sourceSecurity"
						},
						{
							"dataset": {
								"referenceName": "DS_Dim_Date",
								"type": "DatasetReference"
							},
							"name": "sourceDate"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Fact_Trades",
								"type": "DatasetReference"
							},
							"name": "sinkData"
						}
					],
					"transformations": [
						{
							"name": "FilterNullTrades"
						},
						{
							"name": "LookupAccounts"
						},
						{
							"name": "DerivedColumnTrades"
						},
						{
							"name": "lookupSecurity"
						},
						{
							"name": "lookupDate"
						},
						{
							"name": "selectCols"
						},
						{
							"name": "derivedColumnDateKeys"
						}
					],
					"scriptLines": [
						"source(output(",
						"          TradeID as string,",
						"          AccountID as string,",
						"          SecurityID as string,",
						"          TradeDate as date,",
						"          SettleDate as date,",
						"          Side as string,",
						"          Price as decimal(18,4),",
						"          Quantity as decimal(18,4),",
						"          Amount as decimal(18,2),",
						"          stg_load_date as timestamp,",
						"          stg_source_file as string,",
						"          stg_batch_id as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SourceTrades",
						"source(output(",
						"          account_sk as integer,",
						"          account_id as string,",
						"          client_id as string,",
						"          account_type as string,",
						"          open_date as date,",
						"          base_currency as string,",
						"          status as string,",
						"          is_current as boolean,",
						"          dwh_created_date as timestamp,",
						"          dwh_updated_date as timestamp,",
						"          CurrencyGroup as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> sourceAccount",
						"source(output(",
						"          security_sk as integer,",
						"          security_id as string,",
						"          ticker as string,",
						"          security_name as string,",
						"          asset_class as string,",
						"          sector as string,",
						"          currency as string,",
						"          region as string,",
						"          is_current as boolean,",
						"          dwh_created_date as timestamp,",
						"          dwh_updated_date as timestamp,",
						"          AssetClassGroup as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> sourceSecurity",
						"source(output(",
						"          date_sk as integer,",
						"          full_date as date,",
						"          day_of_week as string,",
						"          day_num as integer,",
						"          week_num as integer,",
						"          month_num as integer,",
						"          month_name as string,",
						"          quarter_num as integer,",
						"          quarter_name as string,",
						"          year_num as integer,",
						"          is_weekday as boolean,",
						"          is_month_end as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> sourceDate",
						"SourceTrades filter(!isNull(TradeID) && !isNull(AccountID) && !isNull(SecurityID)) ~> FilterNullTrades",
						"DerivedColumnTrades, sourceAccount lookup(AccountID == account_id,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LookupAccounts",
						"FilterNullTrades derive(TradeCategory = case(\r",
						"  upper(Side) == 'BUY', 'Purchase',\r",
						"  upper(Side) == 'SELL', 'Liquidation',\r",
						"  'Unknown'\r",
						"),",
						"          TradeSize = case(   toDouble(Amount) >= 100000, 'Large',   toDouble(Amount) >= 10000, 'Medium',   'Small' ),",
						"          gross_amount = abs(toDecimal(Amount))) ~> DerivedColumnTrades",
						"LookupAccounts, sourceSecurity lookup(SecurityID == security_id,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookupSecurity",
						"lookupSecurity, sourceDate lookup(SettleDate == full_date,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookupDate",
						"derivedColumnDateKeys select(mapColumn(",
						"          TradeID,",
						"          Side,",
						"          Price,",
						"          Quantity,",
						"          Amount,",
						"          stg_batch_id,",
						"          TradeCategory,",
						"          TradeSize,",
						"          account_sk = AccountID,",
						"          security_sk = SecurityID,",
						"          date_sk,",
						"          gross_amount,",
						"          trade_date_sk,",
						"          settle_date_sk",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectCols",
						"lookupDate derive(trade_date_sk = toInteger(toString(TradeDate, 'yyyyMMdd')),",
						"          settle_date_sk = toInteger(toString(SettleDate, 'yyyyMMdd'))) ~> derivedColumnDateKeys",
						"selectCols sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          trade_sk as long,",
						"          trade_id as string,",
						"          account_sk as integer,",
						"          security_sk as integer,",
						"          trade_date_sk as integer,",
						"          settle_date_sk as integer,",
						"          side as string,",
						"          price as decimal(18,4),",
						"          quantity as decimal(18,4),",
						"          trade_amount as decimal(18,2),",
						"          gross_amount as decimal(18,2),",
						"          dwh_load_date as timestamp,",
						"          batch_id as string,",
						"          TradeCategory as string,",
						"          TradeSize as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     preSQLs:['TRUNCATE TABLE Fact_Trades'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          trade_id = TradeID,",
						"          account_sk,",
						"          security_sk,",
						"          trade_date_sk,",
						"          settle_date_sk,",
						"          side = Side,",
						"          price = Price,",
						"          quantity = Quantity,",
						"          trade_amount = Amount,",
						"          gross_amount,",
						"          batch_id = stg_batch_id,",
						"          TradeCategory,",
						"          TradeSize",
						"     )) ~> sinkData"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Stg_Trades')]",
				"[concat(variables('factoryId'), '/datasets/DS_Dim_Accounts')]",
				"[concat(variables('factoryId'), '/datasets/DS_Dim_Security')]",
				"[concat(variables('factoryId'), '/datasets/DS_Dim_Date')]",
				"[concat(variables('factoryId'), '/datasets/DS_Fact_Trades')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Load_Fact_Cashflows')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_SQL_Stg_Cashflows",
								"type": "DatasetReference"
							},
							"name": "SourceCashflows"
						},
						{
							"dataset": {
								"referenceName": "DS_Dim_Accounts",
								"type": "DatasetReference"
							},
							"name": "sourceAccounts"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Fact_Cashflow",
								"type": "DatasetReference"
							},
							"name": "SinkFactCashflows"
						}
					],
					"transformations": [
						{
							"name": "FilterNulls"
						},
						{
							"name": "DerivedCashflows"
						},
						{
							"name": "lookupAcconts"
						},
						{
							"name": "selectCol"
						}
					],
					"scriptLines": [
						"source(output(",
						"          CashflowID as string,",
						"          AccountID as string,",
						"          CashflowDate as date,",
						"          Type as string,",
						"          Amount as decimal(18,2),",
						"          stg_load_date as timestamp,",
						"          stg_source_file as string,",
						"          stg_batch_id as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SourceCashflows",
						"source(output(",
						"          account_sk as integer,",
						"          account_id as string,",
						"          client_id as string,",
						"          account_type as string,",
						"          open_date as date,",
						"          base_currency as string,",
						"          status as string,",
						"          is_current as boolean,",
						"          dwh_created_date as timestamp,",
						"          dwh_updated_date as timestamp,",
						"          CurrencyGroup as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> sourceAccounts",
						"SourceCashflows filter(!isNull(CashflowID) && !isNull(AccountID) && !isNull(CashflowDate) && !isNull(Amount)) ~> FilterNulls",
						"FilterNulls derive(cashflow_date_sk = toInteger(toString(CashflowDate, 'yyyyMMdd')),",
						"          FlowDirection = case(   upper(Type) == 'DEPOSIT', 'Inflow',   upper(Type) == 'INTEREST', 'Inflow',   upper(Type) == 'DIVIDEND', 'Inflow',   upper(Type) == 'WITHDRAWAL', 'Outflow',   'Neutral' )) ~> DerivedCashflows",
						"DerivedCashflows, sourceAccounts lookup(toString(AccountID) == toString(account_id),",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookupAcconts",
						"lookupAcconts select(mapColumn(",
						"          cashflow_id = CashflowID,",
						"          cashflow_date_sk,",
						"          cashflow_type = Type,",
						"          amount = Amount,",
						"          FlowDirection,",
						"          account_sk",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectCol",
						"selectCol sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          cashflow_sk as long,",
						"          cashflow_id as string,",
						"          account_sk as integer,",
						"          cashflow_date_sk as integer,",
						"          cashflow_type as string,",
						"          amount as decimal(18,2),",
						"          dwh_load_date as timestamp,",
						"          batch_id as string,",
						"          FlowDirection as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          cashflow_id,",
						"          account_sk,",
						"          cashflow_date_sk,",
						"          cashflow_type,",
						"          amount,",
						"          FlowDirection",
						"     )) ~> SinkFactCashflows"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Stg_Cashflows')]",
				"[concat(variables('factoryId'), '/datasets/DS_Dim_Accounts')]",
				"[concat(variables('factoryId'), '/datasets/DS_Fact_Cashflow')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Fact_Cashflow')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_StagingSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DHW"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "cashflow_sk",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "cashflow_id",
						"type": "varchar"
					},
					{
						"name": "account_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cashflow_date_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cashflow_type",
						"type": "varchar"
					},
					{
						"name": "amount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "dwh_load_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "batch_id",
						"type": "varchar"
					},
					{
						"name": "FlowDirection",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Fact_Cashflows"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_StagingSQL')]"
			]
		}
	]
}