finwealthanalyticsadf/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "finwealthanalyticsadf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DF_Load_Fact_Performance')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_SQL_Stg_Performance",
								"type": "DatasetReference"
							},
							"name": "SourcePerformance"
						},
						{
							"dataset": {
								"referenceName": "DS_Dim_Accounts",
								"type": "DatasetReference"
							},
							"name": "sourceAccount"
						},
						{
							"dataset": {
								"referenceName": "DS_Dim_Benchmark",
								"type": "DatasetReference"
							},
							"name": "sourceBenchmark"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Fact_Performance",
								"type": "DatasetReference"
							},
							"name": "SinkFactPerformance"
						}
					],
					"transformations": [
						{
							"name": "FilterNulls"
						},
						{
							"name": "DerivedPerformance"
						},
						{
							"name": "LookupAccountSK"
						},
						{
							"name": "select1"
						},
						{
							"name": "LookupBenchmarkSK"
						}
					],
					"scriptLines": [
						"source(output(",
						"          AccountID as string,",
						"          MonthStart as date,",
						"          ReturnPct as decimal(10,6),",
						"          BenchmarkCode as string,",
						"          BenchmarkReturnPct as decimal(10,6),",
						"          ExcessReturnPct as decimal(10,6),",
						"          CumulativeReturnPct as decimal(10,6),",
						"          stg_load_date as timestamp,",
						"          stg_source_file as string,",
						"          stg_batch_id as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SourcePerformance",
						"source(output(",
						"          account_sk as integer,",
						"          account_id as string,",
						"          client_id as string,",
						"          account_type as string,",
						"          open_date as date,",
						"          base_currency as string,",
						"          status as string,",
						"          is_current as boolean,",
						"          dwh_created_date as timestamp,",
						"          dwh_updated_date as timestamp,",
						"          CurrencyGroup as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> sourceAccount",
						"source(output(",
						"          benchmark_sk as integer,",
						"          benchmark_code as string,",
						"          description as string,",
						"          currency as string,",
						"          dwh_created_date as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> sourceBenchmark",
						"SourcePerformance filter(!isNull(AccountID) && !isNull(MonthStart)) ~> FilterNulls",
						"FilterNulls derive(performance_date_sk = toInteger(toString(MonthStart, 'yyyyMMdd')),",
						"          PerformanceBand = case(   toDouble(ExcessReturnPct) > 2, 'Strong Outperform',   toDouble(ExcessReturnPct) > 0, 'Outperform',   toDouble(ExcessReturnPct) == 0, 'In Line',   'Underperform' ),",
						"          dwh_load_date = currentTimestamp(),",
						"          batch_id = 'ADF_DF_RUN',",
						"          month_start_date_sk = toInteger(toString(MonthStart, 'yyyyMMdd'))) ~> DerivedPerformance",
						"DerivedPerformance, sourceAccount lookup(AccountID == account_id,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LookupAccountSK",
						"LookupBenchmarkSK select(mapColumn(",
						"          ReturnPct,",
						"          benchmark_sk,",
						"          BenchmarkReturnPct,",
						"          ExcessReturnPct,",
						"          CumulativeReturnPct,",
						"          performance_date_sk,",
						"          account_sk,",
						"          PerformanceBand,",
						"          batch_id,",
						"          dwh_load_date,",
						"          month_start_sk = month_start_date_sk",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"LookupAccountSK, sourceBenchmark lookup(BenchmarkCode == benchmark_code,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LookupBenchmarkSK",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          performance_sk as long,",
						"          account_sk as integer,",
						"          benchmark_sk as integer,",
						"          month_start_date_sk as integer,",
						"          return_pct as decimal(10,6),",
						"          benchmark_return_pct as decimal(10,6),",
						"          excess_return_pct as decimal(10,6),",
						"          cumulative_return_pct as decimal(10,6),",
						"          dwh_load_date as timestamp,",
						"          batch_id as string,",
						"          PerformanceBand as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          account_sk,",
						"          benchmark_sk,",
						"          month_start_date_sk = month_start_sk,",
						"          return_pct = ReturnPct,",
						"          benchmark_return_pct = BenchmarkReturnPct,",
						"          excess_return_pct = ExcessReturnPct,",
						"          cumulative_return_pct = CumulativeReturnPct,",
						"          PerformanceBand,",
						"          batch_id,",
						"          dwh_load_date",
						"     )) ~> SinkFactPerformance"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Load_Fact_Trades')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_SQL_Stg_Trades",
								"type": "DatasetReference"
							},
							"name": "SourceTrades"
						},
						{
							"dataset": {
								"referenceName": "DS_Dim_Accounts",
								"type": "DatasetReference"
							},
							"name": "sourceAccount"
						},
						{
							"dataset": {
								"referenceName": "DS_Dim_Security",
								"type": "DatasetReference"
							},
							"name": "sourceSecurity"
						},
						{
							"dataset": {
								"referenceName": "DS_Dim_Date",
								"type": "DatasetReference"
							},
							"name": "sourceDate"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Fact_Trades",
								"type": "DatasetReference"
							},
							"name": "sinkData"
						}
					],
					"transformations": [
						{
							"name": "FilterNullTrades"
						},
						{
							"name": "LookupAccounts"
						},
						{
							"name": "DerivedColumnTrades"
						},
						{
							"name": "lookupSecurity"
						},
						{
							"name": "lookupDate"
						},
						{
							"name": "selectCols"
						},
						{
							"name": "derivedColumnDateKeys"
						}
					],
					"scriptLines": [
						"source(output(",
						"          TradeID as string,",
						"          AccountID as string,",
						"          SecurityID as string,",
						"          TradeDate as date,",
						"          SettleDate as date,",
						"          Side as string,",
						"          Price as decimal(18,4),",
						"          Quantity as decimal(18,4),",
						"          Amount as decimal(18,2),",
						"          stg_load_date as timestamp,",
						"          stg_source_file as string,",
						"          stg_batch_id as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SourceTrades",
						"source(output(",
						"          account_sk as integer,",
						"          account_id as string,",
						"          client_id as string,",
						"          account_type as string,",
						"          open_date as date,",
						"          base_currency as string,",
						"          status as string,",
						"          is_current as boolean,",
						"          dwh_created_date as timestamp,",
						"          dwh_updated_date as timestamp,",
						"          CurrencyGroup as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> sourceAccount",
						"source(output(",
						"          security_sk as integer,",
						"          security_id as string,",
						"          ticker as string,",
						"          security_name as string,",
						"          asset_class as string,",
						"          sector as string,",
						"          currency as string,",
						"          region as string,",
						"          is_current as boolean,",
						"          dwh_created_date as timestamp,",
						"          dwh_updated_date as timestamp,",
						"          AssetClassGroup as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> sourceSecurity",
						"source(output(",
						"          date_sk as integer,",
						"          full_date as date,",
						"          day_of_week as string,",
						"          day_num as integer,",
						"          week_num as integer,",
						"          month_num as integer,",
						"          month_name as string,",
						"          quarter_num as integer,",
						"          quarter_name as string,",
						"          year_num as integer,",
						"          is_weekday as boolean,",
						"          is_month_end as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> sourceDate",
						"SourceTrades filter(!isNull(TradeID) && !isNull(AccountID) && !isNull(SecurityID)) ~> FilterNullTrades",
						"DerivedColumnTrades, sourceAccount lookup(AccountID == account_id,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LookupAccounts",
						"FilterNullTrades derive(TradeCategory = case(\r",
						"  upper(Side) == 'BUY', 'Purchase',\r",
						"  upper(Side) == 'SELL', 'Liquidation',\r",
						"  'Unknown'\r",
						"),",
						"          TradeSize = case(   toDouble(Amount) >= 100000, 'Large',   toDouble(Amount) >= 10000, 'Medium',   'Small' ),",
						"          gross_amount = abs(toDecimal(Amount)),",
						"          batch_id = 'ADF_DF_RUN',",
						"          dwh_load_date = currentTimestamp()) ~> DerivedColumnTrades",
						"LookupAccounts, sourceSecurity lookup(SecurityID == security_id,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookupSecurity",
						"lookupSecurity, sourceDate lookup(SettleDate == full_date,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookupDate",
						"derivedColumnDateKeys select(mapColumn(",
						"          TradeID,",
						"          Side,",
						"          Price,",
						"          Quantity,",
						"          Amount,",
						"          stg_batch_id,",
						"          TradeCategory,",
						"          TradeSize,",
						"          account_sk = AccountID,",
						"          security_sk = SecurityID,",
						"          date_sk,",
						"          gross_amount,",
						"          trade_date_sk,",
						"          settle_date_sk,",
						"          batch_id,",
						"          dwh_load_date",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectCols",
						"lookupDate derive(trade_date_sk = toInteger(toString(TradeDate, 'yyyyMMdd')),",
						"          settle_date_sk = toInteger(toString(SettleDate, 'yyyyMMdd'))) ~> derivedColumnDateKeys",
						"selectCols sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          trade_sk as long,",
						"          trade_id as string,",
						"          account_sk as integer,",
						"          security_sk as integer,",
						"          trade_date_sk as integer,",
						"          settle_date_sk as integer,",
						"          side as string,",
						"          price as decimal(18,4),",
						"          quantity as decimal(18,4),",
						"          trade_amount as decimal(18,2),",
						"          gross_amount as decimal(18,2),",
						"          dwh_load_date as timestamp,",
						"          batch_id as string,",
						"          TradeCategory as string,",
						"          TradeSize as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     preSQLs:['TRUNCATE TABLE Fact_Trades'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          trade_id = TradeID,",
						"          account_sk,",
						"          security_sk,",
						"          trade_date_sk,",
						"          settle_date_sk,",
						"          side = Side,",
						"          price = Price,",
						"          quantity = Quantity,",
						"          trade_amount = Amount,",
						"          gross_amount,",
						"          batch_id = stg_batch_id,",
						"          TradeCategory,",
						"          TradeSize,",
						"          dwh_load_date,",
						"          batch_id",
						"     )) ~> sinkData"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Load_Fact')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF_Trades",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Load_Fact_Trades",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourceTrades": {},
									"sourceAccount": {},
									"sourceSecurity": {},
									"sourceDate": {},
									"sinkData": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_Cashflows",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Load_Fact_Cashflows",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourceCashflows": {},
									"sourceAccounts": {},
									"SinkFactCashflows": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_Fees",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Load_Fact_Fees",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourceFees": {},
									"sourceAccount": {},
									"SinkFactFees": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_Performance",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Load_Fact_Performance",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourcePerformance": {},
									"sourceAccount": {},
									"sourceBenchmark": {},
									"SinkFactPerformance": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_Holdings",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Load_Fact_Holdings",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourceHoldings": {},
									"SourcePrices": {},
									"sourceaccounts": {},
									"sourceSecurity": {},
									"SinkFactHoldings": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_Load_Fact_Trades')]",
				"[concat(variables('factoryId'), '/dataflows/DF_Load_Fact_Performance')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Master')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_Copy_CSV_To_Staging_To_DWH",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Copy_CSV_To_Staging_To_DWH",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_Validation",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_Copy_CSV_To_Staging_To_DWH",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Validate_Staging",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_Load_Fact",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_Validation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Load_Fact",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-23T16:15:30Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_Load_Fact')]"
			]
		}
	]
}